---
layout: default
---
<style>
    @media screen and (max-width: 1024px) {
        .member_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
    .members img {
        width: 150px;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
  }
    @media screen and (max-width: 768px) {
        .member_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat( 1, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
    .members img {
        width: 180px !important;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
    .members div h2{
        font-size: 30px;
        text-decoration: none;
    }
    .members div h4{
        font-size: 18px;
        color: #b2b2b2;
    }
}
@media screen and (min-width: 1024px) {
    .member_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
}

    .members {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Center-align content */
        text-align: center;
    }
    .members img {
        width: 100px;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
    .members div{
        width: 200px;
        text-align: left;
        padding-left: 20px;
    }
    .members div h2{
        font-size: 17px;
        text-decoration: none;
    }
    .members div h4{
        font-size: 15px;
        color: grey;
    }
</style>

<h1>{{ page.title }}</h1>
<hr>
<div class="member_container"> 
    {% assign sorted_members = site.members | sort: "rank" %}
    {% for post in sorted_members %}
    <div class="members">                    
        <a href="{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.name }}"> </a>
        <div>
            <a href="{{ post.url | relative_url }}"> <h2>{{ post.name }}, <span>{{ post.degrees }}</span></h2></a>
            <h4>{{ post.position }}</h4>
        </div>                    
    </div>
    {% endfor %}
</div>
