---
layout: default
---

<div class="member_container"> 
    {% for post in site.members %}
    <div class="members">                    
        <a href="{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.name }}"> </a>
        <div>
            <a href="{{ post.url | relative_url }}"> <h2>{{ post.name }}, <span>{{ post.degrees }}</span></h2></a>
            <h4>{{ post.position }}</h4>
        </div>                    
    </div> 
    {% endfor %}
</div>
